.body {
    background-color: #f8f9fa;
}
#index-body{
background-image: url('../assets/homebg.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
#alert{
    display:none;
}
#index-container{
    color: #f8f9fa;
}
#container {
    margin-top: 50px;
    align-items: center;
    float: left;
}


